<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.heading%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <%- include('partials/header') %>
        <h1 class="page-header"><%= post.heading %></h1>
        <p>
          <%= new Date(post.date).toLocaleString('de-DE', {weekday: 'long',
          year: 'numeric', month: 'numeric',day: 'numeric'}) %>
        </p>
        <img
          src="/image/<%= post.id %>"
          alt="<%= post.title %>"
          class="post-image"
        />
        <p><%= post.text %></p>
        <a href="/blog" class="btn btn-primary">Zurück</a>
      </div>
    </div>
    <%- include('partials/footer') %>

    <script src="/js/slide.js"></script>
    <script src="/js/navToggle.js"></script>
  </body>
</html>
