<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <meta name="description" content="Frühere Veranstaltungen, Besondere Anlässe, Events. Hier findest du alle Neuigkeiten und anstehenden Veranstaltungen.">
  </head>
  <body>
    <div class="section"><%- include('partials/header') %></div>
    <h2 class="center">Veranstaltungen & Events</h2>
    <% if (posts.length === 0) { %>
    <p>Keine Veranstaltungen vorhanden.</p>
    <% } else { %>

    <div class="card-container-blog">
      <% posts.forEach(post => { %>
      <div
        class="card-blog"
        onclick="location.href='/blog/<%= post.id%>';"
        style="cursor: pointer"
      >
        <% if (user.isAdmin) { %>
        <form action="/blog/<%= post.id%>/delete" method="post">
          <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
        </form>
        <a href="/blog/<%= post.id%>/edit">Bearbeiten</a>
        <% } %>

        <!-- The image is loaded via the /image/:id route -->
        <img src="/uploads/<%= post.main_image %>" alt="<%= post.title %>" />
        <div class="card-content-blog">
          <h2><%= post.heading %></h2>
          <div class="date-blog">
            <%= new Date(post.date).toLocaleString('de-DE', {weekday: 'long',
            year: 'numeric', month: 'numeric',day: 'numeric'}) %>
          </div>
        </div>
      </div>

      <% });} %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
