<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.heading %></title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      .main-image {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        text-align: center;
      }
      .main-image img {
        height: 500px;
        border-radius: 8px;
        object-fit: cover;
      }
      .extra-images {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      .extra-images img {
        width: 300px;
        border-radius: 4px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="section overflow-hidden">
      <div class="container">
        <%- include('partials/header') %>
        <h1 class="page-header"><%= post.heading %></h1>
        <p>
          <%= new Date(post.date).toLocaleString('de-DE', { weekday: 'long',
          year: 'numeric', month: 'numeric', day: 'numeric' }) %>
        </p>
        <% if (post.main_image) { %>
        <div class="main-image">
          <img
            src="/uploads/<%= post.main_image %>"
            alt="<%= post.heading %> Main Image"
          />
        </div>

        <% } %>
        <div class="post-text"><p><%= post.text %></p></div>
        <% if (post.extra_images && post.extra_images.length > 0) {%>
        <div class="extra-images">
          <div class="testimonial-slider">
            <div class="slider-mask">
              <% post.extra_images.forEach(function(img) { %>
              <div class="slide">
                <div class="testimonial-card">
                  <img
                    src="/uploads/<%= img %>"
                    alt="Extra image for <%= post.heading %>"
                  />
                </div>
              </div>
              <% }); %>
            </div>
            <div class="arrow-left" id="prev">
              <img
                src="https://cdn.prod.website-files.com/678cb846ec8afcb96aeea333/678d1e91e52f8ef00fb66b91_arrow_back_24px.svg"
                loading="lazy"
                alt="Pfeil nach links"
              />
            </div>
            <div class="arrow-right" id="next">
              <img
                src="https://cdn.prod.website-files.com/678cb846ec8afcb96aeea333/678d1e3bba0255383d97592a_arrow_forward_24px.svg"
                loading="lazy"
                alt="Pfeil nach rechts"
              />
            </div>
          </div>
        </div>
        <% } %>
        <a href="/blog" class="btn btn-primary">Zurück</a>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/slider-animation.js"></script>
  </body>
</html>
