<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tisch Reservierung</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="Booked">
      <h1>
        Deine Reservierung von Tisch <%=user.selectedTable%> war erfolgreich.
      </h1>
      <p>
        Dein Termin ist am <%= new
        Date(user.selectedDate).toLocaleDateString('de-DE', { weekday: 'short',
        year: 'numeric', month: 'short', day: 'numeric' }) %> zwischen
        <%=user.selectedTime%> Uhr.
      </p>
      <p>Wir freuen uns auf deinen Besuch <%=user.selectedName%>.</p>
      <!-- Button to download calendar event -->
      <button
        id="download-ics"
        data-name="<%= user.selectedName %>"
        data-date="<%= user.selectedDate %>"
        data-time="<%= user.selectedTime %>"
      >
        Termin in Kalender speichern
      </button>
    </div>

    <script src="/js/slide.js"></script>
    <script src="/js/navToggle.js"></script>
    <script src="/js/downloadICS.js"></script>
  </body>
</html>
